<h1>List of Cocktails</h1>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li class="list-group-item">
      <%= link_to cocktail.name, cocktail_path(cocktail.id) %>
    </li>
  <% end %>
</ul>

<%= link_to new_cocktail_path do %>
  <button type="button" class="btn btn-primary">Add a new cocktail</button>
<% end %>
